<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabs-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <section id="containerPrincipal">
      <nav class="menu">
          <ul>
            <li><a href="#">Register Student</a></li>
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Crypto Info</a></li>
          </ul>
        </nav>  
    </section>
    
  </template>

  <script>
    /**
     * `tabs-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsElement extends Polymer.Element {
      static get is() { return 'tabs-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-element'
          }
        };
      }
    }

    window.customElements.define(TabsElement.is, TabsElement);
  </script>
</dom-module>
